// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules



window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
    background-effect {
    	blur true
    	// xray false
    }
}

blur {
	 passes 2        // more passes = stronger blur (default: 3)
	 offset 3.0      // sample distance per pass (default: 3.0)
	 noise 0.03      // grain overlay (default: 0.02)
	 saturation 1.0  // color saturation boost (default: 1.5)
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}

// Set the regular wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-wallpaper*"
  place-within-backdrop true
}

// Set transparent workspace background color so you see the backdrop at all times.
layout {
  background-color "transparent"
}

// Optionally, disable the workspace shadows in the overview.
overview {
  workspace-shadow {
    softness 30
    spread 7
  }
}


//personal window rules
//-----------------------

// Btop
window-rule {
    match app-id="floating-btop"
    
    open-floating true
}

// Bitwarden extension Brave
window-rule {
	match app-id="brave-nngceckbapebfimnlniiiahkandclblb-Default"

    
	open-floating true
    block-out-from "screen-capture"
    focus-ring {
    	off
    }
    geometry-corner-radius 20
}

// Bitwarden extension Chromium
window-rule {
	match app-id="chrome-nngceckbapebfimnlniiiahkandclblb-Default"
    
	open-floating true
    block-out-from "screen-capture"
    focus-ring {
    	off
    }
    geometry-corner-radius 20
}


// Bitwarden Zen Browser
window-rule {
    match app-id=r#"zen"# title=r#"(?i)Bitwarden"#
	// There is script running in Script/dynamic-float.py to overcome 
	// the late naming of this window and the issue caused by it.
	// this script is added in the startup.kdl as a python executable.
	
    max-width 400
    max-height 600
    block-out-from "screen-capture"
    focus-ring {
        off
    }
    geometry-corner-radius 20    
}


// Picture-in-Picture mode in Zen Browser
window-rule {
	match app-id="zen" title="Picture-in-Picture"
    
	open-floating true
    focus-ring {
    	off
    }
    geometry-corner-radius 5
}

// Zen Download page
window-rule {
	match app-id="zen" title="Library"

	open-floating true
	max-height 800
	max-width 800
	min-width 700
}

// Zen site info page
window-rule {
	match app-id="zen" title="^Page Info"

	open-floating true
	// default-column-width { fixed 900; }
	// default-window-height { fixed 700; }
	max-width 700
	max-height 800
}


// Steam notification
window-rule {
    match app-id="steam" title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
}



// Gwenview
window-rule {
	match app-id="gwenview$"

	open-floating true
	max-height 700
	max-width 1000
}

// KCalc calculator
window-rule{
	match app-id="kcalc$" title="KCalc"

	open-floating true
	max-height 650
	max-width 450
	opacity 0.95
}


//Spotify
window-rule {
	match app-id="Spotify"

	open-floating true
	opacity 0.9
	draw-border-with-background false

}

//spotify mini player
window-rule {

	match app-id="Chromium-browser"
	open-floating true
	max-height 700
	max-width 800
}

//cachy-update
window-rule {

	match app-id="^org\\.kde\\.konsole$" title="^~ : arch-update — Konsole$"
	open-floating true
}


// Telegram
window-rule {
	match app-id="org.telegram.desktop"

	open-floating true
	opacity 0.8
	draw-border-with-background false

}

// VS Code 
window-rule {
	match app-id="code"

	opacity 0.9
	draw-border-with-background false
	
}


// Kitty
window-rule {
	match app-id="kitty"

	draw-border-with-background false
	
}

// Ghostty
window-rule {
	match app-id="com.mitchellh.ghostty"

	draw-border-with-background false
	
}

//Dolphin
window-rule {
	match app-id="org.kde.dolphin"
	opacity 0.9
	draw-border-with-background false
	
}

//Stremio Enhanced
window-rule {
	match app-id="stremio-enhanced"
	open-maximized true
}
