// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Window-Rules



window-rule {
    geometry-corner-radius 15
    clip-to-geometry true
}






//personal window rules
//-----------------------

// Btop
window-rule {
    match app-id="floating-btop"
    
    open-floating true
    
    default-column-width { proportion 0.6; }
    default-window-height { fixed 600; }
}

// Bitwarden extension Brave
window-rule {
	match app-id="brave-nngceckbapebfimnlniiiahkandclblb-Default"

    
	open-floating true
    opacity 0.8
    block-out-from "screen-capture"
    focus-ring {
    	off
    }
    geometry-corner-radius 20
}

// Bitwarden Zen Browser
window-rule {
    match app-id=r#"zen"# title=r#"(?i)Bitwarden"#
	// There is script running in Script/dynamic-float.py to overcome 
	// the late naming of this window and the issue caused by it.
	// this script is added in the startup.kdl as a python executable.
	
    max-width 400
    max-height 600
    block-out-from "screen-capture"
    focus-ring {
        off
    }
    geometry-corner-radius 20    
}



// Picture-in-Picture mode in Zen Browser
window-rule {
	match app-id="zen" title="Picture-in-Picture"
    
	open-floating true
    focus-ring {
    	off
    }
    geometry-corner-radius 5
}

// Zen Download page
window-rule {
	match app-id="zen" title="Library"

	open-floating true
	max-height 800
	max-width 800
	min-width 700
}


// Gwenview
window-rule {
	match app-id="gwenview$"

	open-floating true
	max-height 700
	max-width 1000
}

// KCalc calculator
window-rule{
	match app-id="kcalc$" title="KCalc"

	open-floating true
	max-height 650
	max-width 450
	opacity 0.95
}


